## What are the most demanded skills for the top 3 most popular data roles?

# Methology
1. Clean-up skill column
2. Calculate skill count based on job_title_short
3. Calculate skill percentage
4. Plot final findings

In [4]:
# Importing Libraries
import ast
import pandas as pd
import seaborn as sns
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

## Filter Data for the United States

Filter the data for the market of the United States.

In [5]:
df_US = df[df['job_country'] == 'United States']

## Explode Skills

In [6]:
df_skills = df_US.explode('job_skills')

df_skills[['job_title', 'job_skills']]

                                                job_title job_skills
0       Senior Clinical Data Engineer / Principal Clin...       None
3       LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...     python
3       LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...        c++
3       LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...       java
3       LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...     matlab
...                                                   ...        ...
785692               Data Scientist- Hybrid Work Location          r
785703            Data Analyst - CRYPTOGRAPHY - Full-time       None
785705          Expert Business Data Analyst - Now Hiring        sql
785705          Expert Business Data Analyst - Now Hiring     python
785705          Expert Business Data Analyst - Now Hiring    tableau

[1073565 rows x 2 columns]

## Count Skills per Job Title